.navMenu {
    max-width: 234px;
}

.navList {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.navLink {
    color: #1D1F22;
    font-weight: 400;
    line-height: 20px;
    padding: 0 16px 29px 16px;
}

.active {
    color: #5ece7b;
    font-weight: 600;
    line-height: 20px;
    border-bottom: 2px solid #5ece7b;
    padding: 0 16px 29px 16px;
}