.item {
    margin: 0 0 63px 0;
    padding: 16px;
    transition: .2s;
    position: relative;
    cursor: auto;
}

.item:hover {
    box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
}

.item:hover .addBtn {
    opacity: 1;
}

.description {
    display: inline-block;
    font-size: 1.125em;
    margin: 24px 0 0 0;
}

.description:hover {
    text-decoration: underline;
    cursor: pointer;
}

.productName {
    font-weight: 300;
    line-height: 29px;
}

.productPrice {
    line-height: 29px;
    font-weight: 500;
}

.productBackground {
    width: 354px;
    height: 330px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stockText {
    font-weight: 400;
    font-size: 1.5em;
    color: #8D8F9A;
}

.addBtn {
    opacity: 0;
    transition: .2s;
    position: absolute;
    right: 31px;
    bottom: 72px;
    width: 52px;
    height: 52px;
    background: url('../../../img/productCard/basket.svg') 50%/50% no-repeat #5ECE7B;
    background-position: center;
    border-radius: 50%;
}

.addBtn:disabled {
    background-color: #76f798;
}

.addBtn:hover:enabled {
    background-color: #4faf69;
}